.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
  
  h1 {
    background-color: #262626;
    overflow: visible;
    width: 100%;
    text-align: center;
    color: red;
  }
  
  .Messages-list {
    padding: 20px 0;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
    overflow: auto;
  }
    


  form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto 40px;
  }
  
  input {
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid orangered;
    flex-grow: 1;
    background-color: pink;
  }
  
  button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
    display:flex
  }
  .Messages-message {
    display: flex;
    margin-top: 10px;
  }
  
  .Messages-message.activeUser {
    flex-direction: row-reverse;
    text-align: right;
  }
  
  .Message-content {
    display:flex;
  }
  
  .activeUser>.Message-content {
    align-items: flex-end;
  }
  
  
  .Message-content>.username {
    display: block;
    color: grey;
    font-size: 14px;
    padding-bottom: 4px;
    background-color: blue;
  }
  
  .Message-content>.text {
    padding: 10px;
    max-width: 400px;
    margin: 0;
    border-radius: 12px;
    background-color: #7d8ccf;
    color: rgb(125, 212, 160);
    display: inline-block;
  }
  
  .activeUser>.Message-content .text {
    background-color: #6382f3;
    color: #fff;
  }