.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
  
  h1 {
    background-color: #262626;
    overflow: visible;
    width: 100%;
    text-align: center;
    color: red;
  }
  
  .Messages-list {
    padding: 20px 0;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
    overflow: auto;
  }
    


  form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto 40px;
  }
  
  input {
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid orangered;
    flex-grow: 1;
    background-color: pink;
  }
  
  button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
    display:flex
  }