.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color:azure;
    position: relative;
    overflow: hidden;
  }
  
  h1 {
    background-color: #262626;
    overflow: visible;
    width: 100%;
    text-align: center;
    color: red;
  }
  
  .Messages-list {
    padding: 20px 0;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
    overflow: auto;
  }
    


  
  .Messages-message {
    display: flex;
    margin-top: 10px;
  }
  
  .Messages-message.activeMember {
    flex-direction: row-reverse;
    text-align: right;
  }
  
  .Message-content {
    display:block;

  }
  
  .activeMember>.Message-content {
    align-items: flex-end;
    display: block;
  }
  
  
  .Message-content>.username {
    display: flexbox;
    font-size: 20px;
    padding: 4px;
    margin: 0;
    max-width: 15px;
    background-color: aliceblue;
    border-radius: 15px;
  }
  
  .Message-content>.text {
    padding: 10px;
    max-width: 400px;
    margin: 0;
    border-radius: 25px;
    background-color: #7dcf8c;
    color: rgb(12, 14, 12);
    display: inline-flex;
  }
  
  .activeMember>.Message-content .text {
    background-color: #f36363;
    color: #fff;
  }
  
  form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto 40px;
  }
  
  input {
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid orangered;
    flex-grow: 1;
    background-color: pink;
  }
  
  button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
    display:flex
  }